body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}
.starter-template > form {
    width: 400px;
    max-width: 400px;
}

ul {
    margin-left: 4%;
}
.alert {
    width: 400px;
    max-width: 400px;
}